button{
    background-color:black;
    font-size: 18px;
    color:white;
    border-color:white;
    border-width:3px;
    border-radius:5px;
    
}
.stats{
    font-size:200%;
    color:white;
}
.upgrades{
    display:none;
}
.upgrades button{
    border-width:4px;
    border-radius:0px;
    border-color:brown;
}
.coin-gen{
    display:block;
    color:brown;
    font-size:150%;
}
.coin-gen button{
    border-width:2px;
    border-radius:0px;
    border-color:brown;
}
